// Variables
@background: #3763fd;
@cardsBackground: tint(@background, 80%);

#main {
  width: 100%;
  height: 100%;
  background-color: @background;
}

.cards {
  width: 80%;
  height: 80%;
  background-color: @cardsBackground;
}
